<a href="https://colab.research.google.com/github/RiyaCP/Python-Workshop/blob/master/Day_4_Session_1_Worked_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Writing Pythonic code

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''
for result in result_list:
  result_string += result
result_string

'TrueFalseFile not found'

The following code is idiomatic

In [ ]:
result_list = ['True', 'False', 'File not found']
result_string = ''.join(result_list)
result_string

'TrueFalseFile not found'

Chain string functions

In [ ]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip()
formatted_book_info = formatted_book_info.upper()
formatted_book_info = formatted_book_info.replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

The following code is idiomatic

In [ ]:
book_info = ' The Three Musketeers: Alexandre Dumas'
formatted_book_info = book_info.strip().upper().replace(':', ' by')
formatted_book_info

'THE THREE MUSKETEERS by ALEXANDRE DUMAS'

Removing Duplicates from a List

In [ ]:
ints_list = [1, 2, 3, 4, 3, 2]
temp = []
for x in ints_list:
    if x not in temp:
        temp.append(x)
ints_list = temp
print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]

The following code is idiomatic using set()

In [ ]:
ints_list = [1, 2, 3, 4, 3, 2]
ints_list1 = list(set(ints_list))
print(ints_list1)  # [1, 2, 3, 4]

[1, 2, 3, 4]

some of the important functions in Python

zip() in Python

In [ ]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Manjeet', 4, 40), ('Astha', 2, 70)}

How to unzip?

In [ ]:
name,rollno,marks=zip(*mapped)
print(name,rollno,marks)

('Nikhil', 'Shambhavi', 'Manjeet', 'Astha') (1, 3, 4, 2) (50, 60, 40, 70)

Map() function with lamda in Python

In [ ]:
def square(x):
    return x*x
numbers=[1, 2, 3, 4, 5]
sqrList=map(square, numbers)
print(list(sqrList))
# use lamda function to have direct values
sqrList1 = map(lambda x: x*x, [1, 2, 3, 4])

[1, 4, 9, 16, 25]

Slicing operations in string

In [ ]:
def change(string):
      return string[-1] + string[1:-1] + string[0]
string=input("Enter string:")
print("Modified string:",change(string))
print('original string :',string)

Enter string:diya
Modified string: aiyd
original string : diya

Removing one character from a string

In [ ]:
def remove(string, n): 
  first = string[:n]   
  last = string[n+1:]  
  return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")

Enter the sring:mango
Enter the index of the character to remove:3
Modified string:

Sorting in Python using function

In [ ]:
def myFunc(e):
  return len(e)
#myfunc=lambda x : len(x)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myFunc)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)
def myFunc(e):
  return e[1]
cars = [(1,'Ford'), (2,'Mitsubishi'), (3,'BMW'), (4,'VW')]
cars.sort(key=myFunc,reverse=True)
print(cars)
cars.sort(key=myFunc,reverse=True)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']
['Mitsubishi', 'Ford', 'BMW', 'VW']
[(4, 'VW'), (2, 'Mitsubishi'), (1, 'Ford'), (3, 'BMW')]
[(4, 'VW'), (2, 'Mitsubishi'), (1, 'Ford'), (3, 'BMW')]

itertools groupby